@layer reset {
	/* https://frontendmasters.com/blog/the-coyier-css-starter/ */

	html {
		color-scheme: light dark;
		color: var(--text-body);
		font:
			clamp(1rem, .55rem + 0.55vw, 1.4rem) / 1.6 var(--font-stack);
		tab-size: 2;
		hanging-punctuation: first allow-end last;
		word-break: break-word;
	}

	/* body {
		margin: 0;
		padding: var(--s-l);

		@media (width < 500px) {
			padding: var(--s-m);
		}
	} */

	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6
	/* FUTURE :heading */
		{
		text-wrap: balance;
		line-height: 1.1;
		margin-block-start: var(--s-xl);
		margin-block-end: var(--s-s);

		&+ :is(h1, h2, h3, h4, h5, h6) {
			margin-block-start: var(--s-m);
		}
	}

	h1,
	h2 {
		color: var(--text-heading);
		letter-spacing: -0.04rem;
		font-weight: 550;
		margin-block-start: var(--s-xxl);
	}

	h3,
	h4,
	h5,
	h6 {
		font-weight: 450;
	}

	h4,
	h5,
	h6 {
		font-style: italic;
	}

	p,
	li,
	dd {
		text-wrap: pretty;
		margin: 0;
		max-inline-size: var(--max-inline-size);
	}

	a {
		text-underline-offset: 2px;
		text-decoration-thickness: 2px;
		color: var(--text-body);

		&[data-footnote-backref] {
			text-decoration: none;
		}

		&>span {
			display: inline-block;
			font-size: 70%;
			vertical-align: super;
			padding-inline-start: .2em;
		}

		&>.arrow {
			text-decoration: none;
		}

		& i {
			display: inline-block;
			color: var(--color_link);
			margin-inline-end: var(--s-xs);
		}

		&:not(:is(:hover, :focus)),
		&:not(:is(:hover, :focus))>span:not(.arrow) {
			text-decoration-color: color-mix(in srgb, var(--color_link), transparent 50%);
		}
	}

	sub,
	sup {
		font-size: 75%;
		line-height: 0;
		position: relative;
		vertical-align: baseline;

		&>* {
			margin-inline-start: .5em;
		}
	}

	sub {
		inset-block-end: -0.25em;
	}

	sup {
		inset-block-start: -0.5em;
	}

	ul,
	ol,
	dl {
		margin: 0;
		padding: 0;
		list-style-position: inside;

		ul,
		ol,
		dl {
			padding-inline-start: 2ch;
			margin-block-end: 1em;
		}

		li>p {
			display: inline;
		}

		>li+li {
			margin-block-start: var(--s-xs);
		}

		li:has(p)+li {
			margin-block-start: 1em;
		}

		::marker {
			color: var(--color_link);
		}
	}

	img,
	video,
	iframe,
	figure,
	p>code,
	pre:not(code),
	table,
	caption,
	blockquote {
		border-radius: var(--border-radius);
		box-shadow: var(--box-shadow);
		outline: 1px solid var(--surface);
	}

	img,
	video,
	iframe {
		display: block;
		max-inline-size: 100%;
		block-size: auto;
		border-style: none;
	}

	figure {
		inline-size: fit-content;
		margin-inline: auto;
	}

	figcaption {
		contain: inline-size;
		font-size: 90%;
	}

	input,
	select,
	textarea,
	button {
		font: inherit;
		/* FUTURE: appearance: base; */
	}

	label {
		display: block;
	}

	input:not( :where([type="submit"],
			[type="checkbox"],
			[type="radio"],
			[type="button"],
			[type="reset"])) {
		inline-size: 100%;
	}

	button,
	input:where([type="submit"],
		[type="reset"],
		[type="button"]) {
		background: CanvasText;
		color: Canvas;
		border: 1px solid transparent;
	}

	textarea {
		field-sizing: content;
		min-block-size: 5lh;
		inline-size: 100%;
		max-inline-size: 100%;
	}

	pre,
	code,
	kbd,
	samp {
		font-family: ui-monospace, SFMono-Regular, monospace;
		padding: var(--s-xs) var(--s-s);
	}

	mark {
		padding: var(--s-xs) var(--s-s);
	}

	abbr {
		text-underline-offset: 2px;
	}
	
	svg {
		fill: currentColor;
	}

	blockquote {
		background-color: var(--surface);
		padding: var(--s-m);
		margin-inline: 0;
	}

	[aria-disabled="true" i],
	[disabled] {
		cursor: not-allowed;
		text-decoration: dashed 1px currentColor !important;
	}

	[hidden] {
		display: none !important;
	}

	[disabled],
	label:has(input[disabled]) {
		opacity: 0.5;

		[disabled] {
			opacity: 1;
		}
	}

	pre {
		white-space: pre-wrap;
		background: CanvasText;
		color: Canvas;
		padding: var(--s-l);
	}

	hr {
		position: relative;
		margin-block: var(--s-xl);
		border: none;
		text-align: center;
		font-size: var(--s-l);
		color: var(--surface-darker);
		pointer-events: none;

		&::before {
			content: "***";
		}
	}

	:target {
		scroll-margin: 3rlh;
	}

	table {
		caption-side: bottom;
		border-collapse: collapse;
		width: 100%;
		margin-block: var(--s-m);

		td {
			font-size: 90%;
		}

		td,
		th {
			word-break: normal;
			padding: var(--s-m);
			text-align: start;
		}

		tbody tr:nth-child(odd) {
			background-color: var(--surface);
		}
	}

	[role="region"][aria-labelledby][tabindex] {
		overflow: auto;
	}

	caption {
		font-size: 90%;
	}

	.screenreader-only:not(:focus):not(:active),
	.visibility-hidden {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	:focus-visible {
		outline-offset: 2px;
		outline-width: 2px;
		outline-color: var(--text-body);
	}

	@media (prefers-reduced-motion: no-preference) {
		@view-transition {
			navigation: auto;
		}

		html {
			interpolate-size: allow-keywords;

			&:focus-within {
				scroll-behavior: smooth;
			}
		}
	}
}

@layer variables {
	@font-face {
		font-family: 'Synonym-Variable';
		src: url('../../fonts/Synonym-Variable.woff2') format('woff2'),
			url('../../fonts/Synonym-Variable.woff') format('woff'),
			url('../../fonts/Synonym-Variable.ttf') format('truetype');
		font-weight: 200 700;
		font-display: swap;
		font-style: normal;
	}

	:root {
		--text-heading: light-dark(#000, #fff);
		--text-body: light-dark(#323232, #e4e0e0);
		--surface: light-dark(#eeeeee, #212121);
		--surface-darker: light-dark(#d4d4d4, #4d4d4d);
		--color_link: light-dark(#8b8b8b, #e8f800);
		--max-inline-size: 55ch;
		--font-stack: Synonym-Variable, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
		--box-shadow: 2px 2px 8px var(--surface);
		--border-radius: var(--s-s);

		--s-xs: .2rem;
		--s-s: .4rem;
		--s-m: .8rem;
		--s-l: 2rem;
		--s-xl: 2.8rem;
		--s-xxl: 3.6rem;
	}

	html[data-theme="light"] {
		color-scheme: light;
	}

	html[data-theme="dark"] {
		color-scheme: dark;
	}
}

@layer layout {
	body {
		/* --max-content-width: var(--max-inline-size, 80ch);
		--breakout-difference: 0.4;
		--breakout-grid-width: calc(var(--max-content-width) + (var(--max-content-width) * var(--breakout-difference)));
		display: grid;
		grid-template-columns:
			[grid-start] 1fr [content-start] minmax(min(100%, var(--max-content-width)),
				1fr) [content-end] 1fr [grid-end];
		width: min(100% - 2rem, var(--breakout-grid-width));
		row-gap: var(--s-m);
		margin: var(--s-xl) auto 0 auto; */

		margin: var(--s-xl) auto 0 auto;
		max-width: var(--max-inline-size);
	}

	.stack {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
	}

	.stack>*:not(:is(h1, h2, h3, h4, h5, h6)) {
		margin-block: 0;
	}

	.stack>*:not(:is(h1, h2, h3, h4, h5, h6))+*:not(:is(h1, h2, h3, h4, h5, h6)) {
		margin-block-start: var(--space, var(--s-m));
	}

	footer {
		margin-block-start: var(--s-xxl);
		display: flex;
    	justify-content: center;
		padding: var(--s-m);
    	gap: var(--s-m);

		& * {
			font-size: medium;
		}
	}
}

@layer sections {
	.highlighted-title {
		& h2 {
			padding: var(--s-m);
			background-color: var(--surface);
		}
	}

	.posts-collection,
	.feeds {
		display: grid;
		gap: 1rem;

		& *:not(h3) {
			text-decoration: none;
		}

		& h3 {
			text-decoration-style: solid;
			text-decoration-line: underline;
			text-underline-offset: 2px;
			text-decoration-thickness: 2px;
		}

		& p {
			font-size: medium;
		}

		& .title {
			margin-block: 0;
		}

		& a {
			border: var(--surface-darker) 1px dashed;
			border-radius: var(--border-radius);
			padding: var(--s-s);

			&:is(:hover, :focus) {
				background-color: var(--surface);

				& h3 {
					text-decoration-color:  color-mix(in srgb, var(--color_link), transparent 50%);
				}
			}
		}
	}

	.feedContainer li {
		display: grid;

		& a::after {
			content: '↗';
			margin-inline-start: var(--s-xs);
			display: inline-block;
			font-size: 70%;
			vertical-align: super;
		}

		& p {
			margin: 0;
			font-size: var(--font-size-h3);
			font-style: italic;
		}

		& time {
			font-size: 70%;
		}
	}
}

@layer prose {
	.prose {
		h2 {
			position: relative;

			&::after {
				content: "";
				height: 1px;
				width: 100%;
				display: block;
				background-color: var(--surface-darker);
				margin-block-end: var(--s-s);
				margin-block-start: var(--s-s);
			}
		}
	}
}