---
import Layout from "../layouts/Layout.astro";
import BlogPosts from "../components/BlogPosts.astro";
---

<Layout>
	<section>
		<h1>Marmomeur</h1>
	</section>
	<section class="posts-collection">
		<h2>Blog.</h2>
		<BlogPosts headingType="h3"/>
	</section>
	<section class="feeds">
		<h2>Feeds.</h2>
		<a href="/rssFeed">vers le feed</a>
	</section>
</Layout>