---
import Layout from "../layouts/Layout.astro";
import RSSFeed from "../components/RSSFeed.astro";
import {feedSource} from "../Feeds/feedSources.ts";

const ttrpgFeed = feedSource.get(1);
const newsFeed = feedSource.get(2);

const maxDate = 7;
---

<article maxDate={maxDate} feed={maxDate}  >

</article>
    <header>
        <h1>Article des {maxDate} derniers jours</h1>
        <a class="back" href="/"
            ><span class="arrow">←</span><span>Retour à l'accueil</span></a
        >
    </header>
    