---
const { tags } = Astro.props;
---

<div class="tags">
    {tags.map((tag: any) => <p class="tag">{tag}</p>)}
</div>

<style>
    .tags {
        display: flex;
        justify-content: center;
        gap: .5rem;

        & .tag {
            padding: 0.25rem 0.5rem;
            border-radius: 0.2rem;
            margin: 0;
            background: var(--accent);
            color: white;
        }
    }
</style>
