---
import Layout from "../layouts/Layout.astro";
import { getFeedItems } from "../Feeds/getFeeds.ts";

const { feed } = Astro.props;
const [feedName, feedUrls] = feed;
const feedItems = await getFeedItems(feedName, feedUrls);
---

<Layout>
  <header class="title">
    <a class="back" href="/">
      <span class="arrow">←</span><span>Retour à l'accueil</span>
    </a>
    <h1>{feedName}</h1>
  </header>
  <div class="feedContainer">
    {feedItems.length === 0 ? (
      <p>Aucun article récent trouvé.</p>
    ) : (
      <ul>
        {feedItems.map((item) => (
          <li>
            <a target="_blank" href={item.link}>{item.title}</a>
            <p>{item.feed}</p>
            <time datetime={item.date.toLocaleDateString("fr-FR")}>{item.date.toLocaleDateString("fr-FR")}</time>
          </li>
        ))}
      </ul>
    )}
  </div>
</Layout>