---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <model-viewer id="model"
            src="src/assets/models/tree.glb" 
            alt="A 3D model">
        </model-viewer>
        <main>
            <slot />
            <Footer/> 
        </main>
    </body>
</html>