---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <model-viewer id="model"
            src="/models/tree.glb" 
            alt="Modele 3D d'un cheine vert."
            ar
            shadow-intensity="1">
        </model-viewer>
        <main>
            <slot />
            <Footer/> 
        </main>
    </body>
</html>